/node_modules
/public/hot
/public/storage
/public/postimages
/public/categoryimages
/public/playlistaudios
/public/bansimages/
/public/dist*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
