/node_modules
/public/hot
/public/storage
/public/postimages
/public/categoryimages
/public/playlistaudios
/public/bansimages/
/public/playlistimages/
/public/subpostimages/
/public/appendixadbans/
/public/downloadimages/
/public/dist*
/public/videos/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
