body{
	direction: rtl;
	overflow-x: hidden;
	header{
		width: 100%;
		background-color: #3a3f48;
		position: relative;
		.block-header{
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			background-color: #3a3f48;
			justify-content:  space-between;
			.right{
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				.default1{
					width: 180px;
					height: 43px;
					display: flex;
					align-items: center;
					.pic{
						width: 30%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #1d8386;
						border-bottom-right-radius: 5px;
						border-top-right-radius: 5px;
						img{
							width: 80%;
							height: 80%;
						}
					}
					.content{
						width: 70%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #32333a;
						border-bottom-left-radius: 5px;
						border-top-left-radius: 5px;
						p{
							color: white;
							font-size: 18px;
							font-weight: bold;
							font-family: jf;
						}
					}
				}
				.default2{
					width: 180px;
					height: 43px;
					display: flex;
					align-items: center;
					margin-right: 30px;
					.pic{
						width: 30%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #1d8386;
						border-bottom-right-radius: 5px;
						border-top-right-radius: 5px;
						img{
							width: 80%;
							height: 80%;
						}
					}
					.content{
						width: 70%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #32333a;
						border-bottom-left-radius: 5px;
						border-top-left-radius: 5px;
						p{
							color: white;
							font-size: 18px;
							font-weight: bold;
							font-family: jf;
						}
					}
				}
			}
			.left{
				width: 50%;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.facebook{
					width: 50px;
					height: 50px;
					border: 3px solid white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 15px;
				}
				.twitter{
					width: 50px;
					height: 50px;
					border: 3px solid white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 15px;
				}
				.google-plus{
					width: 50px;
					height: 50px;
					border: 3px solid white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 15px;
				}
				.instgram{
					width: 50px;
					height: 50px;
					border: 3px solid white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

		}
	}
	section{
		width: 100%;
		margin: 0 auto;
		min-height: 789px;
		.banner{
			width: 100%;
			height: 336px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.sectioncontainer{
			width: 100%;
			//			background-color: #3a3f48;
			.container-header{
				display: flex;
				align-items: center;
				.section{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					.categories{
						width:150px;
						height: 45px;
						display: flex;
						align-items: center;
						text-decoration: none;
						margin-left: 2px;
						margin-bottom: 2px;
						.pic{
							width: 30%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							border-bottom-right-radius: 5px;
							border-top-right-radius: 5px;
							background-color: #e84e3d;
							img{
								width: 80%;
								height: 80%;
							}
						}
						.content{
							width: 70%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							border-bottom-left-radius: 5px;
							border-top-left-radius: 5px;
							background-color: #e84e3d;
							p{
								color: white;
								font-size: 16px;
								font-weight: bold;
								font-family: jf;
								text-align: center;
							}
						}
					}
					.movies-ara{
						.pic{
							background-color: #e84e3d;
						}
						.content{
							background-color: #e84e3d;
						}
					}
					.movies-eng{
						.pic{
							background-color: #636a79;
						}
						.content{
							background-color: #636a79;
						}
					}
					.songs-ara{
						.pic{
							background-color: #2581bc;
						}
						.content{
							background-color: #2581bc;
						}
					}
					.songs-eng{
						.pic{
							background-color: #fcb040;
						}
						.content{
							background-color: #fcb040;
						}
					}
					.series-ara{
						.pic{
							background-color: #075456;
						}
						.content{
							background-color: #075456;
						}
					}
					.series-eng{
						.pic{
							background-color: #2581bc;
						}
						.content{
							background-color: #2581bc;
						}
					}
					.games{
						.pic{
							background-color: #1d8386;
						}
						.content{
							background-color: #1d8386;
						}
					}
					.app{
						.pic{
							background-color: #3ab29c;
						}
						.content{
							background-color: #3ab29c;
						}
					}
					.tv{
						.pic{
							background-color: #dcb310;
						}
						.content{
							background-color: #dcb310;
						}
					}
					.wwe{
						.pic{
							background-color: #342c34;
						}
						.content{
							background-color: #342c34;
						}
					}
					.other{
						.pic{
							background-color: #c74571;
						}
						.content{
							background-color: #c74571;
						}
					}

				}

			}
		}
		.ads{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 10px;
		}

		.center-search{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 15px;
			margin-bottom: 15px;
			.search{
				width: 40%;
				height: 70px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 12px;
				background-color: #3a3f48;
				.section{
					width: 93%;
					height: 35px;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					background-color: white;
					form{
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: row-reverse;
						justify-content: space-between;
						.logo{
							width: 8%;
							height: 100%;
							background-color: #eb4c82;
							display: flex;
							justify-content: center;
							align-items: center;
							height: 100%;
							border: 0;
							display: inline-block;
							img{
								width: 50%;
								height: 90%;
							}
						}
						.down-logo{
							width: 5%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							img{
								width: 60%;
								height: 90%;
							}
						}
						input{
							width: 90%;
							border: 0;
							text-align: center;
							background: transparent;
							color: #3a3f48;
							font-size: 20px;
							font-weight: bold;
							font-family: jf;
							outline: 0;
						}
						input::placeholder {
							color: #3a3f48;
							font-size: 20px;
							font-weight: bold;
						}
					}
				}
			}
		}
		.list-container{
			width: 100%;
			height: 100%;
			padding: 8px;
			position: relative;
			.ads-right{
				width: 160px;
				height: 600px;
				top: 233px;
				position: fixed;
				right: 5px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.items{
				width: 100%;
				display: flex;
				display: -webkit-flex;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				justify-content: space-around;
				-webkit-justify-content: space-around;
				.item{
					margin: 10px 4px;
					border: 2px solid #83BF17;
					color: black;
					text-decoration: none;
					width: 250px;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					background: white;
					z-index: 4;
					.img{
						background-image: url(../images/items/1.jpg);
						width: 100%;
						height: 300px;
						z-index: 5;
						background-size: cover;
						background-repeat: no-repeat;
					}
					p{
						width: 100%;
						min-height: 67px;
						z-index: 5;
						display: block;
						font-size: 18px;
						padding: 8px;
						font-family: cursive;
					}

					&.movies-ara{
						border: 2px solid #e84e3d;
					}
					&.movies-eng{
						border: 2px solid #636a79;
					}
					&.songs-ara{
						border: 2px solid #2581bc;
					}
					&.songs-eng{
						border: 2px solid #fcb040;
					}
					&.series-ara{
						border: 2px solid #075456;
					}
					&.series-eng{
						border: 2px solid #2581bc;
					}
					&.games{
						border: 2px solid #1d8386;
					}
					&.app{
						border: 2px solid #3ab29c;
					}
					&.tv{
						border: 2px solid #dcb310;
					}
					&.wwe{
						border: 2px solid #342c34;
					}
					&.other{
						border: 2px solid #c74571;
					}
				}
			}
			.ads-left{
				width: 160px;
				height: 600px;
				top: 233px;
				position: fixed;
				left: 5px;
				z-index: 2;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	ul{
		&.pagination{
			padding: 0;
			display: flex;
			justify-content: center;
			margin: 20px;
			li{
				border: 2px solid #3a3f48;
				border-radius: 10px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 35px;
				margin-right: 5px;
				a{
					color: #3a3f48;
					height: 100%;
					width: 100%;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					font-family: monospace;
				}
				&.active{
					background-color: #3a3f48;
					a{
						color: white;
					}
				}
				&.disabled{
					a{
						cursor: not-allowed;
					}
				}
			}
		}
	}
	footer{
		width: 100%;
		background-color: #3a3f48;
		position: relative;
		.block-footer{
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			background-color: #3a3f48;
			justify-content: flex-end;
			.content{
				width: 370px;
				height: 43px;
				margin-left: 5px;
				display: flex;
				align-items: center;
				.pic{
					width: 30%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #1d8386;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					img{
						width: 80%;
						height: 80%;
					}
				}
				.content{
					width: 70%;
					height: 100%;
					display: flex;
					padding: 5px;
					align-items: center;
					justify-content: center;
					background-color: #32333a;
					border-bottom-left-radius: 5px;
					border-top-left-radius: 5px;
					p{
						text-align: center;
						color: white;
						font-size: 15px;
						font-weight: bold;
						font-family: jf;
					}
				}
			}
		}
		&.second{
			background-color: #354a5d;
			.elementscontainer{
				min-width: 1279px;
			}
		}
	}
}


.insidepage{
	header{
		.second-block-header{
			height: 125px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title-right{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 45px;
				a{
					color: white;
					font-size: 40px;
					font-family: jf;
					margin-left: 15px;
				}
				img{
					width: 70px;
				}
			}
			.title-left{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 45px;
				a{
					color: white;
					font-size: 70px;
					margin-left: 15px;
					font-family: monospace;
					span{
						font-size: 110px;
					}
				}
			}
		}
	}
	h1{
		margin-top: 40px;
		width: 100%;
		padding: 10px 0;
		background-color: #e1e2e7;
		text-align: center;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 2em;
	}

	.pagescontainer{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.img{
			margin-top: 40px;
			width: 80%;
			img{
				width: 100%;
			}
		}

		.download{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 15px;
			.right{margin-left: 20px}
			.left{margin-right: 20px}
		}

		.servers{
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 10px;
			margin-bottom: 10px;
			width: 848px;
			a{
				background-color: #3a3f48;
				width: 110px;
				height: 37px;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-family: jf;
				font-size: 20px;
				&.active{
					background-color: #e6af5e;
				}
			}
		}

		.watch{
			width: 848px;
			height: 480px;
			border: 20px solid #3a3f48;
			margin: 0 auto;
			margin-bottom: 10px;
		}

		.share-title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 848px;
			margin-bottom: 15px;
			.titlee{
				font-weight: bold;
				font-size: 30px;
				color: #3a3f48;
				font-family: jf;
			}
			.share{
				display: flex;
				justify-content: space-around;
				align-items: center;
				.facebook{

					display: flex;
					justify-content: center;
					align-items: center;
					img{
						width: 90%;
						height: 90%;
					}
				}
				.twitter{
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 5px;
					img{
						width: 90%;
						height: 90%;
					}
				}
				.google-plus{

					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 5px;
					img{
						width: 90%;
						height: 90%;
					}
				}
				.instgram{

					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 5px;
					img{
						width: 90%;
						height: 90%;
					}
				}
			}
		}

		.new-ep{
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			margin-bottom: 10px;
			.title-ep{
				background-color: #3a3f48;
				width: 170px;
				height: 50px;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				margin-left: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-family: jf;
				font-size: 22px;
			}
			.border-ep{
				width: 848px;
				border: 3px solid #3a3f48;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
				padding-top: 3px;
				a{
					width: 135px;
					height: 110px;
					position: relative;
					margin-bottom: 2px;
					img{
						width: 135px;
						height: 110px;
					}
					p{
						position: absolute;
						bottom: 0;
						width: 100%;
						background-color: rgba(58, 63, 72, 0.81);
						height: 38px;
						font-family: jf;
						font-size: 20px;
						color: white;
						display: flex;
						justify-content: center;
						align-items: center;
					}

				}
			}
		}

		.old-topic{
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			margin-bottom: 10px;
			margin-top: 10px;
			.title-topic{
				background-color: #3a3f48;
				width: 170px;
				height: 50px;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				margin-left: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-family: jf;
				font-size: 22px;

			}
			.border-topic{
				width: 848px;
				height: 240px;
				border: 3px solid #3a3f48;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
				a{
					width: 135px;
					height: 110px;

					img{
						width: 135px;
						height: 110px;

					}

				}
			}
		}

		.download_desc{
			padding: 25px;
		}
		.downloadlinks{
			padding: 25px;
			width: 80%;
			text-align: center;
			color: white;
			font-family: jf;
			.link{
				margin: 20px 0;
			}
			h3{
				background-color: #adadad;
				display: inline-block;
				margin: 0;
				font-size: 1em;
				padding: 5px 15px 10px;
				margin-bottom: -5px;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
			}
			ul{
				border-radius: 15px;
				margin: 0;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				padding: 20px;
				background-color: #adadad;
				li{
					min-width: 200px;
					width: 20%;
					border-radius: 5px;
					font-size: 0.8em;
					margin: 5px;
					padding: 5px;
					list-style: none;
					background-color: #3a3f48;
					a{
						color: white;
						&:hover, &:visited {
							color: white;
						}
						display: inline-block;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}