$grey: #3a3f48;
$pink: #982359;
$deeppink: #631f3c;
$blue: #18788f;
$deepblue: #194d55;
$orange: #ca8724;
$deeporange: #8e5706;

div.mainpage {
    header {
        position: fixed;
        width: 100%;
        background-color: #3a3f48;
        height: 70px;
        z-index: 1000;
        transition: 0.3s height;
        overflow: hidden;
        @media screen and (max-width: 850px) {
            height: 10vh;
        }
        &.open {
            height: 100vh;
            @media screen and (min-width: 850px) {
                height: 70px;
            }
        }
        .elementscontainer {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 850px) {
                height: 10vh;
            }
            &.mobile {
                height: auto;
                overflow: hidden;
                border-top: 1px solid #6b6b6b;
                height: 90vh;
                overflow: auto;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        border-bottom: 1px solid #494949;
                        padding: 10px 30px;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        a {
                            display: flex;
                            align-items: center;
                            font-size: 1em;
                            font-family: jf;
                            color: white;
                            text-decoration: none;
                            &:hover,
                            &:visited {
                                text-decoration: none;
                            }
                            div.category-img{
                                width: 35px;
                                height: 35px;
                                margin-left: 20px;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 75% auto;
                            }
                        }
                        &:last-child {
                            border: 0;
                        }
                    }
                }
            }
            .right {
                padding: 0 10px;
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                .menu {
                    display: none;
                    margin: 0 10px;
                    @media screen and (max-width: 850px) {
                        display: inline-block;
                    }
                    .nav-icon {
                        width: 40px;
                        height: 25px;
                        position: relative;
                        margin: 10px;
                        transform: rotate(0deg);
                        transition: .5s ease-in-out;
                        cursor: pointer;
                        span {
                            display: block;
                            position: absolute;
                            height: 5px;
                            width: 100%;
                            background: white;
                            border-radius: 9px;
                            opacity: 1;
                            left: 0;
                            transform: rotate(0deg);
                            transition: .25s ease-in-out;
                            &:nth-child(1) {
                                top: 0px;
                            }
                            &:nth-child(2),
                            &:nth-child(3) {
                                top: 10px;
                            }
                            &:nth-child(4) {
                                top: 20px;
                            }
                        }
                        &.open {
                            span:nth-child(1) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }
                            span:nth-child(2) {
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            span:nth-child(3) {
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }
                            span:nth-child(4) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }
                        }
                    }
                }
                .headercontent {
                    margin: 0 10px;
                    min-width: 180px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 850px) {
                        display: none;
                    }
                    .pic {
                        width: 30%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #1d8386;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        img {
                            height: 80%;
                        }
                    }
                    .content {
                        width: 70%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #32333a;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        p {
                            color: white;
                            font-size: 0.8em;
                            font-weight: bold;
                            font-family: jf;
                        }
                    }
                }
            }
            .center {
                display: flex;
                // display: none;
                position: relative;
                // top: -25px;
                justify-content: center;
                align-items: center;
                // background-color: #FFF;
                padding: 0 5px;
                // padding: 20px 5px 0;
                border-radius: 10px;
                box-shadow: inset 0px 0px 10px 0px black;
                button{
                    padding: 0;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 5px 5px;
                    border: 2px solid white;
                    box-shadow: inset 0px 0px 10px 0px black;
                    cursor: pointer;
                    &.grey{
                        background-color: #3a3f48;
                    }
                    &.pink{
                        background-color: $pink;
                    }
                    &.blue{
                        background-color: $blue;
                    }
                    &.orange{
                        background-color: $orange;
                    }
                }
                @media screen and (max-width: 870px) {
                    display: none;
                }
            }
            .left {
                padding: 0 10px;
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .logo {
                    height: 100%;
                    display: none;
                    justify-content: flex-end;
                    align-items: stretch;
                    img{
                        width: auto;
                        height: 100%;
                    }
                    @media screen and (max-width: 850px) {
                        display: flex;
                    }
                }
                .socitem {
                    min-width: 50px;
                    width: 50px;
                    min-height: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 15px;
                    @media screen and (max-width: 850px) {
                        display: none;
                    }
                    div.soc-img {
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 100%;
                        height: 100%;
                        border: 3px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.google-plus {
                            background-size: auto 50%;
                            background-image: url('/dist_v6/images/google.svg');
                        }
                        &.twitter {
                            background-size: auto 60%;
                            background-image: url('/dist_v6/images/twitter.svg');
                        }
                        &.facebook {
                            background-size: auto 70%;
                            background-image: url('/dist_v6/images/facebook.svg');
                        }
                    }
                }
            }
            &.mobile {
                display: none;
                @media screen and (max-width: 850px) {
                    display: block;
                }
            }
        }
    }
    section {
        overflow: hidden;
        padding-top: 70px;
        width: 100vw;
        margin: 0 auto;
        min-height: 800px;
        .img-banner {
            margin: 0;
            width: 100%;
            height: 410px;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center top;
            background-image: url(/dist_v6/images/banner3.jpg);
            @media screen and (max-width: 1500px) {
                height: 350px;
            }
            @media screen and (max-width: 1280px) {
                height: 300px;
            }
            @media screen and (max-width: 1024px) {
                height: 260px;
            }
            @media screen and (max-width: 850px) {
                display: none;
            }
        }
        .category_search {
            width: 100%;

            .search {
                margin: 15px auto;
                width: 40%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                border: 15px solid #3a3f48;
                background-color: #3a3f48;
                @media screen and (max-width: 850px) {
                    display: none;
                }
                form {
                    overflow: hidden;
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    .logo {
                        outline: 0;
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        background-color: #eb4c82;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        border: 0;
                        display: inline-block;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 80% auto;
                        background-image: url(/dist_v6/images/search-icon.svg);
                    }
                    input {
                        flex-grow: 1;
                        background-color: white;
                        width: 90%;
                        border: 0;
                        text-align: center;
                        color: #3a3f48;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: jf;
                        outline: 0;
                    }
                    input::placeholder {
                        color: rgba(58, 63, 72, 0.5);
                        letter-spacing: 0.5px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }

            .home_top {
                width: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                height: 90px;
                >div{
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                }
                @media screen and (max-width: 850px) {
                    display: none;
                }
            }
        }


        .posts-container {
            display: flex;
            align-items: flex-start;
            width: 100%;
            padding: 10px;

            .items {
                margin: 10px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .item {
                    border-radius: 15px;
                    overflow: hidden;
                    margin: 10px 4px;
                    border: 2px solid #83BF17;
                    color: black;
                    text-decoration: none;
                    width: 240px;
                    min-width: 240px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    background: white;
                    z-index: 4;
                    &:hover,
                    &:visited {
                        text-decoration: none;
                    }
                    .post-img {
                        background-image: url(../images/items/1.jpg);
                        width: 100%;
                        height: 300px;
                        z-index: 5;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                    h3 {
                        margin: 0;
                        word-break: break-word;
                        width: 100%;
                        min-height: 67px;
                        z-index: 5;
                        display: block;
                        font-size: 18px;
                        padding: 8px;
                        font-family: cursive;
                        text-align: center;
                        font-weight: normal;
                    }
                    &.red {
                        border: 2px solid #e84e3d;
                    }
                    &.grey1 {
                        border: 2px solid #636a79;
                    }
                    &.blue {
                        border: 2px solid #2581bc;
                    }
                    &.orange {
                        border: 2px solid #fcb040;
                    }
                    &.green1 {
                        border: 2px solid #075456;
                    }
                    &.green2 {
                        border: 2px solid #1d8386;
                    }
                    &.green3 {
                        border: 2px solid #3ab29c;
                    }
                    &.yellow {
                        border: 2px solid #dcb310;
                    }
                    &.grey2 {
                        border: 2px solid #342c34;
                    }
                    &.pink {
                        border: 2px solid #c74571;
                    }
                }
            }
        }
    }

    .pagination-ban{
        width: 100%;
        text-align: center;
        a.home_bottom{
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            height: 90px;
            >div{
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 100%;
            }
            @media screen and (max-width: 850px) {
                display: none;
            }
        }

        ul.pagination {
            padding: 0;
            width: 90%;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px 0;
            li {
                border: 2px solid #3a3f48;
                border-radius: 10px;
                height: 35px;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px;
                a, span {
                    color: #3a3f48;
                    height: 100%;
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: monospace;
                    text-decoration: none;
                    &:hover, &:visited{
                        color: #3a3f48;
                        text-decoration: none;
                    }
                }
                &.active {
                    background-color: #3a3f48;
                    span{
                        color: white;
                        font-family: jf;
                    }
                }
                &.disabled {
                    span {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    footer {
        width: 100vw;
        background-color: #3a3f48;
        height: 60px;
        padding: 5px;
        .elementscontainer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media screen and (max-width: 850px) {
                justify-content: center;
            }
            .copy {
                width: 370px;
                height: 43px;
                display: flex;
                align-items: center;
                @media screen and (max-width: 850px) {
                    width: 280px;
                }
                .pic {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #1d8386;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    img {
                        height: 80%;
                    }
                }
                .content {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    background-color: #32333a;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    p {
                        text-align: center;
                        color: white;
                        font-size: 0.6em;
                        line-height: 1.2em;
                        font-weight: bold;
                        font-family: jf;
                    }
                }
            }
        }
    }
}

.insidepage {
    header {
        background-color: rgb(58, 63, 72);
        height: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div {
            width: 50%;
            height: 100%;
            display: inline-flex;
            text-align: left;
            padding: 15px 50px;
            a{
                display: flex;
                align-items: center;
                height: 100%;
                color: white;
                text-decoration: none;
                &:hover, &:visited{
                    color: white;
                    text-decoration: none;
                }
                img.cat-img {
                    width: 50px;
                    margin: 15px;
                    max-height: 100%;
                }
                p {
                    font-family: jf;
                    margin: 0;
                    font-size: 1.8em;
                    color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    strong{
                        text-align: center;
                    }
                }
            }
            &:last-child {
                padding: 0px 50px;
                justify-content: flex-end;
                img {
                    height: 100%;
                }
            }
            @media screen and (max-width: 850px) {
                padding: 0px 50px;
                width: 100%;
                height: 80px;
                a{
                    p{
                        font-size: 1em;
                    }
                    img.cat-img{
                        width: 40px;
                    }
                }
            }
        }
        @media screen and (max-width: 850px) {
            height: auto;
            flex-direction: column-reverse;
            a {
                width: 100%;
                padding: 0;
                justify-content: center;
                h1 {
                    font-size: 1em;
                    justify-content: center;
                    img {
                        width: 30px;
                    }
                }
                &:last-child {
                    padding: 0;
                    justify-content: center;
                }
            }
        }
    }
    footer {
        width: 100vw;
        background-color: #3a3f48;
        height: 60px;
        position: absolute;
        bottom: 0;
        padding: 5px;
        .elementscontainer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media screen and (max-width: 850px) {
                justify-content: center;
            }
            .copy {
                width: 370px;
                height: 43px;
                display: flex;
                align-items: center;
                @media screen and (max-width: 850px) {
                    width: 280px;
                }
                .pic {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #1d8386;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    img {
                        height: 80%;
                    }
                }
                .content {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    background-color: #32333a;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    p {
                        text-align: center;
                        color: white;
                        font-size: 0.6em;
                        line-height: 1.2em;
                        font-weight: bold;
                        font-family: jf;
                    }
                }
            }
        }
    }
    section {
        h1 {
            margin-top: 10px;
            width: 100%;
            padding: 10px 0;
            background-color: #e1e2e7;
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1.8em;
            font-family: cursive;
            font-weight: bold;
            @media screen and (max-width: 850px) {
                margin-top: 20px;
                font-size: 1.5em;
            }
            @media screen and (max-width: 500px) {
                font-size: 1.1em;
            }
        }
    }
    .pagescontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &.firstpage{
            max-width: 1600px;
            @media screen and (max-width: 1100px) {
                .firstpagecontainer {
                    justify-content: center;
                }
                .side-bans{
                    display: none;
                }
            }
        }
        .firstpagecontainer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            overflow: hidden;
            width: 100%;
            @media screen and (max-width: 850px) {
                justify-content: center;
            }
            .postdetailscontainer {
                height: 100%;
                display: flex;
                margin: 10px 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 850px;
                @media screen and (max-width: 850px) {
                    width: 100%;
                }
                .postdetails{
                    min-height: 500px;
                    min-width: 750px;
                    border-radius: 10px;
                    overflow: hidden;
                    width: 100%;
                    display: flex;
                    background-color: #3a3f48;
                    @media screen and (max-width: 850px) {
                        min-width: 300px;
                    }
                    &.nodesc{
                        background-color: transparent;
                        justify-content: center;
                    }
                    div.img {
                        z-index: 1;
                        position: relative;
                        width: 50%;
                        min-width: 300px;
                        min-height: 500px;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        img {
                            width: 100%;
                        }
                    }
                    .post_description{
                        z-index: 2;
                        position: relative;
                        width: 50%;
                        min-height: 500px;
                        max-height: 800px;
                        transform-origin: top left;
                        transform: skewX(-10deg);
                        background-color: #3a3f48;
                        .descriptioncontent{
                            height: 100%;
                            width: 100%;
                            left: 0;
                            top: 0;
                            transform-origin: top left;
                            transform: skewX(10deg);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 10px;
                            overflow: hidden;

                            .long_description{
                                width: 100%;
                                height: 100%;
                                font-family: jf !important;
                                color: white !important;
                                line-height: 1.5em;
                                h3{
                                    margin: 10px 0;
                                    font-family: jf;
                                    text-align: center;
                                    span.desctitle{
                                        display: inline-block;
                                        border-radius: 10px;
                                        color: #3a3f48;
                                        background-color: #FFF;
                                        padding: 10px 20px;
                                        max-width: 80%;
                                    }
                                }
                                a{
                                    color: white !important;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 850px) {
                        flex-direction: column-reverse;
                        background-color: transparent;
                        align-items: center;
                        width: 80%;
                        .post_description{
                            display: none;
                        }
                    }
                }
            }
        }
        div.download {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 15px;
            // width: 60%;
            width: 100%;
            @media screen and (max-width: 850px) {
                flex-direction: column;
            }
            >div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    width: 250px;
                    min-width: 200px;
                    display: inline-block;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .otherlinks{
            margin: 30px 0;
            width: 100%;
            display: flex;
            justify-content:  center;
            align-items: center;
            flex-wrap: wrap;
            .otherlink{
                width: 250px;
                margin: 0 30px;
                a{
                    display: inline-block;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                @media screen and (max-width: 700px) {
                    width: 170px;
                }
            }
        }
        .page {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .servers {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0;
            a {
                background-color: #3a3f48;
                min-width: 110px;
                margin: 5px;
                padding: 5px;
                text-align: center;
                color: white;
                font-family: jf;
                font-size: 0.9em;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                &.active {
                    background-color: #e6af5e;
                }
            }
            @media screen and (max-width: 850px) {
                width: 80%;
                justify-content: center;
            }
        }
        .watch {
            width: 850px;
            min-width: 300px;
            height: 480px;
            border: 15px solid #3a3f48;
            border-radius: 20px;
            @media screen and (max-width: 850px) {
                width: 90%;
                height: 350px;
                border-width: 10px;
                border-radius: 10px;
            }
        }
        .new-topic {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 25px;
            width: 850px;
            &.random {
                @media screen and (max-width: 870px) {
                    display: none;
                }
                .title-topic{
                    background-color: #c74571;
                }
                .border-topic {
                    padding: 10px 70px;
                    height: 176px;
                    position: relative;
                    .swiper-container{
                        width: 100%;
                        .swiper-slide{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                margin: 0;
                            }
                        }
                    }
                    .btn-paginate{
                        position: absolute;
                        top: 0;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        img{
                            width: 65px;
                        }
                        &.next{
                            left: 0;
                        }
                        &.previous{
                            right: 0;
                        }
                    }
                }
            }
            @media screen and (max-width: 850px) {
                width: 90%;
            }
            .title-topic {
                background-color: #1d8386;
                padding: 10px 20px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                display: inline-block;
                color: white;
                font-family: jf;
                font-size: 1em;
            }
            .border-topic {
                padding: 10px;
                width: 100%;
                border: 3px solid #3a3f48;
                background-color: #3a3f48;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                border-top-left-radius: 35px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                a {
                    transform: skewX(-3deg);
                    display: inline-block;
                    min-width: 120px;
                    width: 15.4%;
                    height: 150px;
                    margin: 5px;
                    position: relative;
                    border-radius: 5px;
                    overflow: hidden;
                    border: 5px solid white;
                    .topic-img {
                        width: 100%;
                        height: 100%;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
                p {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background-color: rgba(58, 63, 72, 0.8);
                    font-family: jf;
                    font-size: 0.8em;
                    padding: 5px 2px;
                    color: white;
                    text-align: center;
                }
            }
        }
        .downloadpage{
            &.img{
                text-align: center;
                img{
                    max-width: 90%;
                }
            }
        }
        .download_desc {
            padding: 25px;
            img{
                max-width: 90%;
            }
        }
        .downloadlinks {
            padding: 20px 10px 25px;
            width: 80%;
            min-width: 256px;
            text-align: center;
            color: white;
            font-family: jf;
            .link {
                position: relative;
                margin: 60px 0 20px;
            }
            h3 {
                z-index: 1;
                top: -40px;
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background-color: #7b7979;
                display: inline-block;
                font-size: 1em;
                padding: 10px 60px;
                border-radius: 15px;
                min-width: 200px;
                height: 100px;
                @media screen and (max-width: 850px) {
                    min-width: auto;
                    padding: 5px 20px 10px;
                    transform: translateX(0);
                    position: absolute;
                    top: -27px;
                    right: 20px;
                    height: auto;
                    left: auto;
                    border-radius: 10px;
                    font-size: 0.7em;
                }
            }
            ul {
                z-index: 2;
                position: relative;
                border-radius: 15px;
                margin: 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                background-color: #e1e2e7;
                padding: 12px 0;
                border: 1px solid #7b7979;
                li {
                    min-width: 178px;
                    width: 15%;
                    width: 15%;
                    border-radius: 5px;
                    font-size: 0.8em;
                    margin: 5px;
                    padding: 5px;
                    list-style: none;
                    background-color: #3a3f48;
                    a {
                        color: white;
                        &:hover,
                        &:visited {
                            color: white;
                        }
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .share-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 850px;
        margin: 10px 0 15px;
        &.firstpage{
            width: 100%;
            justify-content: center;
            margin: 10px 0;
                .share {
                    .socitem {
                        width: 60px;
                        height: 60px;
                    }
                }
            @media screen and (max-width: 850px) {
                width: 100%;
                .share {
                    .socitem {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        @media screen and (max-width: 850px) {
            width: 90%;
        }
        h2 {
            margin: 0;
            font-weight: bold;
            // font-size: 1.4em;
            font-size: 1em;
            color: #3a3f48;
            font-family: jf;
            @media screen and (max-width: 850px) {
                font-size: 1em;
            }
        }
        .share {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .socitem {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: 90%;
                background-position: center center;
                overflow: hidden;
                iframe{
                    opacity: 0;
                }
                @media screen and (max-width: 850px) {
                    width: 40px;
                    height: 40px;
                }
                &.google-plus {
                    background-image: url('/dist_v6/images/g.svg');
                    cursor: auto;
                }
                &.twitter {
                    background-image: url('/dist_v6/images/t.svg');
                }
                &.facebook {
                    background-image: url('/dist_v6/images/f.svg');
                }
            }
        }
    }

    .playlists{
        max-width: 850px;
        width: 90%;
        height: 280px;
        direction: ltr;
        display: flex;
        justify-content: space-around;
        margin: 10px;
        .playlist-pic{
            height: 100%;
            border-radius: 5px;
            margin: 0 0 0 20px;
            width: 160px;
            @media screen and (max-width: 500px) {
                display: none;
            }
        }
        .sm2-bar-ui {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            border-radius: 5px;
            max-width: 100%;

            @media screen and (max-width: 500px) {
                font-size: 15px;
            }
            .sm2-main-controls, .sm2-playlist-drawer {
                background-color: $grey;
                border-radius: 5px;
                height: auto !important;
            }

            .sm2-playlist {
                height: auto;
                min-height: 1.45em;
                padding-bottom: 10px;
            }

            .sm2-inline-element{
                min-height: 4em;
                padding: 8px;
            }

            .sm2-button-element {
                .sm2-button-bd {
                    min-height: 3.5em;
                    &.play{
                        height: 3.5em;
                        width: 3.5em;
                        @media screen and (max-width: 500px) {
                            height: 3em;
                            width: 3em;
                        }
                        @media screen and (max-width: 400px) {
                            height: 2em;
                            width: 2em;
                            min-width: 2em;
                            min-height: 2em;
                        }
                    }
                    @media screen and (max-width: 500px) {
                        min-height: 3em;
                        min-width: 2.4em;
                    }
                    @media screen and (max-width: 400px) {
                        min-height: 2.5em;
                        min-width: 2em;
                    }
                }
            }

            .sm2-inline-texture {
                background: transparent;
            }
            .sm2-inline-status {
                width: 100%;
                min-width: initial;
                max-width: initial;
                .sm2-playlist-bd{
                    >li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .sm2-main-controls{
                margin-bottom: 20px;
            }
            .sm2-progress-bar{
                background-color: #268186;
            }
            .lower-playlist{
                display: flex;
                height: 100%;
                .sm2-extra-controls{
                    display: none;
                }
            }

            .sm2-playlist-wrapper {
                ul {
                    max-height: 100%;
                }
            }
        }
    }

}

body.links{
    background-color: #383838;
    padding: 0;
    .insidepage {
        margin: 0 auto;
        width: 80%;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2c4257;
            height: 15vh;
            .logo{
                justify-content: center;
            }
        }
        section{
            background-color: white;
            height: 85vh;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 10px;
            .top,.bottom{
                width: 100%;
                flex-grow: 1;
                 &.getlink{
                    display: flex;
                    align-items: stretch;
                    >div{
                        width: 50%;
                        margin: 5px;
                     }
                }
            }
            a{
                display: inline-block;
                background-color: #248386;
                padding: 8px 18px;
                border-radius: 7px;
                margin: 10px;
                text-align: center;
                color: white;
                &:hover{
                    background-color: #03383a;
                }
            }
        }
    }
}

.category-container {
    margin: 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 850px) {
        display: none;
    }
    li {
        margin: 5px;
        list-style: none;
        min-width: 185px;
        width: 10%;
        height: 50px;
        border-radius: 10px;
        overflow: hidden;
        a {
            height: 100%;
            background-color: #3c3f48;
            display: inline-flex;
            color: white;
            text-decoration: none;
            width: 100%;
            &:hover,
            &:visited {
                color: white;
                text-decoration: none;
            }
            &.red {
                background-color: #e84e3d;
            }
            &.grey1 {
                background-color: #636a79;
            }
            &.blue {
                background-color: #2581bc;
            }
            &.orange {
                background-color: #fcb040;
            }
            &.green1 {
                background-color: #075456;
            }
            &.green2 {
                background-color: #1d8386;
            }
            &.green3 {
                background-color: #3ab29c;
            }
            &.yellow {
                background-color: #dcb310;
            }
            &.grey2 {
                background-color: #342c34;
            }
            &.pink {
                background-color: #c74571;
                .pic {
                    background-size: auto 80%;
                }
            }
            .pic {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                background-size: 80% auto;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .content {
                padding: 5px;
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                h2 {
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: jf;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}

.fb-comments{
    width: 850px;
    @media screen and (max-width: 870px) {
        width: 90%;
    }
}

body{
    &.pink{
        header{
            background-color: $pink;
            div.elementscontainer{
                div.right{
                    a.headercontent{
                        div.content{
                            background-color: $deeppink;
                        }
                    }
                }
            }
        }
        section{
            div.elementscontainer{
                div.pagination-ban{
                    ul.pagination{
                        li{
                            border: 2px solid $pink;
                            span{
                                color: $pink;
                            }
                            a{
                                color: $pink;
                            }
                            &.active{
                                background-color: $pink;
                                span{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            background-color: $pink;
            div.elementscontainer{
                div.copy{
                    div.content{
                        background-color: $deeppink;
                    }
                }
            }
        }

        div.insidepage{
            section{
                div.pagescontainer{
                    div.postdetails{
                        background-color: $pink;
                        div.post_description{
                            background-color: $pink;
                        }
                    }

                    div.page{
                        div.servers{
                            a{
                                background-color: $pink;
                                &.active{
                                    background-color: #e6af5e;
                                }
                            }
                        }
                        div.watch{
                            border: 15px solid $pink;
                        }

                    }
                    div.new-topic{
                        div.border-topic{
                            border: 3px solid $pink;
                            background-color: $pink;
                            a{
                                p{
                                    background-color: $deeppink;
                                }
                            }
                        }
                    }

                }
            }
        }
        &.links{
            background-color: $pink;
        }
    }

    &.blue{
        header{
            background-color: $blue;
            div.elementscontainer{
                div.right{
                    a.headercontent{
                        div.content{
                            background-color: $deepblue;
                        }
                    }
                }
            }
        }
        section{
            div.elementscontainer{
                div.pagination-ban{
                    ul.pagination{
                        li{
                            border: 2px solid $blue;
                            span{
                                color: $blue;
                            }
                            a{
                                color: $blue;
                            }
                            &.active{
                                background-color: $blue;
                                span{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            background-color: $blue;
            div.elementscontainer{
                div.copy{
                    div.content{
                        background-color: $deepblue;
                    }
                }
            }
        }

        div.insidepage{
            section{
                div.pagescontainer{
                    div.postdetails{
                        background-color: $blue;
                        div.post_description{
                            background-color: $blue;
                        }
                    }

                    div.page{
                        div.servers{
                            a{
                                background-color: $blue;
                                &.active{
                                    background-color: #e6af5e;
                                }
                            }
                        }
                        div.watch{
                            border: 15px solid $blue;
                        }

                    }
                    div.new-topic{
                        div.border-topic{
                            border: 3px solid $blue;
                            background-color: $blue;
                            a{
                                p{
                                    background-color: $deepblue;
                                }
                            }
                        }
                    }

                }
            }
        }
        &.links{
            background-color: $blue;
        }
    }

    &.orange{
        header{
            background-color: $orange;
            div.elementscontainer{
                div.right{
                    a.headercontent{
                        div.content{
                            background-color: $deeporange;
                        }
                    }
                }
            }
        }
        section{
            div.elementscontainer{
                div.pagination-ban{
                    ul.pagination{
                        li{
                            border: 2px solid $orange;
                            span{
                                color: $orange;
                            }
                            a{
                                color: $orange;
                            }
                            &.active{
                                background-color: $orange;
                                span{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            background-color: $orange;
            div.elementscontainer{
                div.copy{
                    div.content{
                        background-color: $deeporange;
                    }
                }
            }
        }

        div.insidepage{
            section{
                div.pagescontainer{
                    div.postdetails{
                        background-color: $orange;
                        div.post_description{
                            background-color: $orange;
                        }
                    }

                    div.page{
                        div.servers{
                            a{
                                background-color: $orange;
                                &.active{
                                    background-color: #e6af5e;
                                }
                            }
                        }
                        div.watch{
                            border: 15px solid $orange;
                        }

                    }
                    div.new-topic{
                        div.border-topic{
                            border: 3px solid $orange;
                            background-color: $orange;
                            a{
                                p{
                                    background-color: $deeporange;
                                }
                            }
                        }
                    }

                }
            }
        }
        &.links{
            background-color: $orange;
        }
    }
}

.side-bans {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-width: 160px;
    width: 160px;
    min-height: 600px;
    height: 600px;
    a{
        width: 100%;
        min-height: 600px;
        height: 600px;
        display: inline-block;
    }
    div.image{
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    @media screen and (max-width: 850px) {
        display: none;
    }
}